# --------------------
# Global
# --------------------
*
!*/

# --------------------
# Documents
# --------------------
!*.php
!*.htm
!*.html
!*.css
!*.scss
!*.xml
!*.htaccess
!*.sql
!*.js
!*.md
!*.txt
!*.json
!*.yml

# --------------------
# Media
# --------------------
!*.pdf
!*.jpg
!*.png
!*.gif
!*.ico

# --------------------
# Applications
# --------------------
!.gitignore
!*.lock
!Gemfile
.idea
.env
/public/imagebank

# --------------------
# NPM
# --------------------
node_modules

# --------------------
# COMPOSER
# --------------------
/vendor
